@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    Page.Title = ViewBag.appConfig.application.fullName;
}

@if (ViewBag.lostPersonList.Count > 0)
{
<link rel="stylesheet" type="text/css" href="~/Content/css/home/home.css?v=@DateTime.Now" />

<div class="search-box">
    <input type="text" class="search-box__input" placeholder="Wyszukaj osobę..." />
</div>

<div class="last-registered-person-wrapper">
    <h1>Ostatnio zgłoszeni zaginieni</h1>

    <div class="last-registered-person-list">
        @foreach (LostPerson lostPerson in ViewBag.lostPersonList)
        {
            <div class="last-registered-person-card">
                <div class="last-registered-person-card__image">
                    <img src="#" alt="@lostPerson.firstName @lostPerson.lastName" />
                </div>
                <div class="last-registered-person-card__caption">
                    <h3>@lostPerson.firstName @lostPerson.lastName</h3>
                </div>
            </div>
        }
    </div>
</div>
}
else
{
<link rel="stylesheet" type="text/css" href="~/Content/css/home/home-no-lost-person.css?v=@DateTime.Now" />

<div class="home-no-lost-person">
    <h1>Obecnie w naszym systemie nie jest zarejestrowany żaden zaginiony.</h1>
    <p>Aby dodać nowego zaginionego, zaloguj się na konto klikając w przycisk <b>Zaloguj się</b>.</p>
</div>
}