/*
 * Arkusz styli konfigurujący wygląd listy, w której będzie prezentowane
 * zestawienie zaginionych osób
 */
.last-registered-person-list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}