/*
 * Arkusz styli, która zawiera konfigurację wyglądu bardzo prostej karty.
 * Karta ta sama w sobie nie wymaga żadnej dodatkowej zawartości, by karta
 * prawidłowo się wyświetlała.
 */

.card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.card {
    position: relative;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}