/*
 * Główny arkusz styli. Zawiera on podstawową konfigurację
 * wybranych parametrów niektórych selektorów
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
    --headerHeight: 70px;
    --zIndexHeader: 1000;

    --bezier: cubic-bezier(0, .74, .31, 1);

    --red: #FF101F;
    --blue: #3185fc;
    --white: #F8F4F9;
    --black: #071108;
    --lightGrey: #bbbbbb;
    --yellow: #FFE900;
    --orange: #E89005;
    --green: #00B884;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto;
}

html,
body {
    min-height: 100vh;
    background: #e9f2ff;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: calc(var(--headerHeight) + var(--containerPadding));
    padding-bottom: var(--containerPadding);
}

a {
    color: var(--blue);
}