/*
 * Arkusz styli zawierający konfigurację wyglądu kontrolki do wprowadzania
 * danych, takich jak pole tekstowe.
 */

:root {
    --inputMargin: 15px;
}

.input {
    position: relative;
    width: 400px;
    margin: var(--inputMargin) 0;
}



.input__label {
    position: relative;
    width: 100%;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    background: var(--white);
    font-size: 15px;
    border: 3px solid var(--black);
    border-radius: 3px;
    transition: border-color .2s var(--bezier);
}

.input:not(.input--invalid) input:focus {
    border-color: var(--blue);
}

.input__validator {
    position: relative;
    width: 100%;
    background: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    display: none;
}




.input.input--centered {
    margin: var(--inputMargin) auto;
}

.input--invalid {
    color: var(--red);
}

.input--invalid input {
    color: var(--red);
    border-color: var(--red);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.input.input--invalid .input__validator {
    display: block;
}